.button {
  padding: 20px 45px;
  @include font($font-inter, 1.33313rem, 600, normal, 0);
  z-index: 2;
  display: inline-block;
  transition: all 0.1s ease-in-out;
  color: $white;
  min-width: fit-content;
  max-width: max-content;
  &.button-black {
    @include transparent-black();
    &:hover {
      @include transparent-white(0.3);
    }
  }

  &.button-white {
    @include transparent-white();
    &:hover {
      @include transparent-white(0.6);
    }

    &.card-form {
      padding: 25px;
      width: 100%;
      max-width: 100%;
      &:hover {
        @include transparent-white(0.2);
      }
    }
  }

  .card__input {
    margin-top: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    @include transparent-white(0.2);
    width: 100%;
    padding: 10px 20px;
    border: none;
    color: $white;
    transition: all 0.2s ease-in-out;
    @include font($font-inter, 1rem, 400, normal, 0);
    &:focus {
      outline: none;
      @include transparent-white(0.4);
    }
    &:hover {
      @include transparent-white(0.4);
    }
    input[type="text"] {
      outline: none;
      border: none;
      background: transparent;
      width: 100%;
      color: inherit;
      &::placeholder {
        color: $white;
        opacity: 0.5;
      }
    }

    .card__input-button {
      padding: 10px 20px;
      border: none;
      color: $white;
      background: transparent;
      transition: all 0.2s ease-in-out;

      &:hover {
        scale: 1.05;
      }
    }
  }
}
