header.header__container {
  z-index: 100;
  position: fixed;
  top: 20px;
  left: calc(50% - 50vw);
  right: calc(50% - 50vw);
  padding: 20px 50px;
  @include transparent-black();
  .header__logo {
    display: flex;
    gap: 10px;
    align-items: center;
    @include font($font-ease, 1.5rem, 700, 100%, -0.045rem);
    text-transform: uppercase;
    img {
      width: 176px;
    }
  }
  .header__nav {
    display: flex;
    gap: 20px;
    list-style: none;
    ul {
      width: 100%;
      display: flex;
      justify-content: space-between;
      list-style: none;
      li {
        a {
          text-decoration: none;
          position: relative;
          &::after {
            content: "";
            width: 0;
            height: 1px;
            background: $white;
            position: absolute;
            bottom: -2px;
            left: 0;
          }
          &:hover {
            &::after {
              width: 100%;
              transition: all 0.2s cubic-bezier(0.4, 0, 0.2, 1);
            }
          }
        }
      }
    }
  }
}
