.microintro {
  width: 100vw;
  height: 100vh;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;

  .microintro__text {
    position: relative;
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 10px;
    width: calc(100vw / 12 * 6);
  }

  img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    z-index: -1;
    filter: blur(50px);
  }
}

@media screen and (max-width: 768px) {
  .microintro {
    height: 70vh;
    img {
      height: 70vh;
    }
    .microintro__text {
      width: calc(100vw / 12 * 8);
    }
  }
}
