body.trailmaker {
  section[class*="start__form"] {
    height: 100vh;
    width: 100vw;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    margin-bottom: 300px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

    .centerer {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 100%;
    }
  }
  section.start__family {
    background-image: url("../img/blur_orange-offer.svg");
  }
  section.start__artisan {
    background-image: url("../img/blur_blue.svg");
  }
  section.start__urban {
    background-image: url("../img/blur_lavend.svg");
  }

  section[class*="banner__form"] {
    margin: 200px 0 300px;
    .box {
      span {
        @include font($font-inter, 1rem, 400, normal, 0);
        &.mini-link {
          @include font($font-inter, 1rem, 400, normal, 0);
          color: $black;
          opacity: 0.5;
          &.rev {
            color: $white;
            opacity: 0.5;
          }
          &:hover {
            cursor: pointer;
            opacity: 0.8;
          }
        }
      }

      .container_col {
        display: flex;
        flex-direction: column;
        gap: 10px;
      }

      .current-row {
        @include transparent-white;
        padding: 10px 5px;
      }
    }
  }
}
