body.trailmaker {
  section[class*="start__form"] {
    height: 100vh;
    width: 100vw;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    margin-bottom: 300px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

    .centerer {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 100%;
    }
  }
  section.start__family {
    background-image: url("../img/blur_orange-offer.svg");
  }
  section.start__artisan {
    background-image: url("../img/blur_blue.svg");
  }
  section.start__urban {
    background-image: url("../img/blur_lavend.svg");
  }
}
