<div class="banner-patterned">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="banner-patterned__container">
          <div class="banner-patterned__text">
            <h2>{{banner_title}}</h2>
            <h6>{{banner_text}}</h6>
          </div>
          <a href="#offers" class="button button-black">{{banner_button}}</a>
        </div>
      </div>
    </div>
  </div>
  <img
    src="./img/{{banner_pattern}}?as=webp"
    alt="pattern"
    class="banner-patterned__pattern"
  />
</div>
