<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>ExploraBox — {{pageTitle}}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="scss/main.scss" />
    <link rel="icon" href="img/favicon-aci.png" />
  </head>
  <body>
    <header class="container header__container">
      <div class="container">
        <div class="row">
          <div class="col-12">
            <div class="row justify-content-between align-items-center">
              <div class="col-4">
                <a href="./" class="header__logo"
                  >explorabox <img src="./img/rotating-icons.gif" alt=""
                /></a>
              </div>
              <div class="col-5">
                <nav class="header__nav">
                  <ul>
                    <li><a href="./">Acceuil</a></li>
                    <li><a href="#">Activer votre box</a></li>
                    <li><a href="./about.html">À propos</a></li>
                    <li><a href="./account.html">Se connecter</a></li>
                    <li><a href="#">Fr</a></li>
                  </ul>
                </nav>
              </div>
            </div>
          </div>
        </div>
      </div>
    </header>
    <main>
      <block name="main_content"> </block>
    </main>
    <script src="js/main.js" type="module"></script>
  </body>
</html>
